<!DOCTYPE html>
<html lang="en" ng-app="Chat">
  <head>

    <title>Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    
    <script src="js/login.js"></script>
    

  </head>

  <body>

    
    <div class="container">
      <div class="sign_in_form">
        <form method="post" action="/sign#chat">
          <div class="form-group">
            <label for="login" class="control-label">Nickname:</label>
            <input name="nick" type="text" class="form-control" id="input-nickname" placeholder="Place choose your nickname">
          </div>
          <div class="form-group center">
              <button class="btn btn-success" id="sign-in">Sign In</button>
          </div>
       </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


  </body>
</html>
